@charset "UTF-8"; 
/* Créé par Nicolas Richard */

$taille-police:2rem;

.carousel-img{
    height: 500px;
}
       

h2 {
    font-size:$taille-police ;
}
p{
    font-family: 'Roboto Serif', sans-serif;
}

.bouton{
    text-decoration: none;
    padding: 10px;
    background-color:rgb(69, 69, 197);
    color: white;
    &:hover{
       background-color: gray;
       color: black;
        text-decoration: none;
    }
   
}

header{
    background-image: url(../images/webb.png);
}

footer{
    background-image: url(../images/webb.png);
}

#noms{
    background-image: url(../images/circle-blues.png);
}

.screen-redear-text{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
#logo{
    width:150px;
}
